<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="register">
    <div class="login-form">
        <form action="/register" method="post" class="login-form">
            <h1>Register to DSlack</h1>
            <input type="text" placeholder="Username" name="username" required>
            <input type="email" placeholder="Email" name="email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button>Register</button>
            <a href="/">or Login</a>
        </form>
    </div>
</body>
</html>